extends layout

block content
  h1= title
  p Welcome to #{title}
  script(type="text/javascript")
    $(function() { loadedAudio = audioMonad({}).masterGain(1.0).sounds(sounds); })
  button(id='win') Play Win
  button(id='dahdahdah1') Play Coin 1
  button(id='dahdahdah2') Play Coin 2
  button(id='dahdahdah1-no-master') Play Coin 1 No Master
  script(type="text/javascript")
    $('#win').click(function () { loadedAudio.play('win.m4a'); })    
    $('#dahdahdah1').click(function () { loadedAudio.play('dahdahdah1.m4a'); })
    $('#dahdahdah2').click(function () { loadedAudio.play('dahdahdah2.m4a'); })
    $('#dahdahdah1-no-master').click(function () { audioMonad({}).setAudioBuffers(loadedAudio.getAudioBuffers()).play('dahdahdah1.m4a'); })
