doctype html
html
  head
    title= title
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.min.js')
    script(src="sounds.js")
    script(src="audioMonad.js")
  body
    block content